<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://r6ze0q02l4me77k3.chr7pe7iynqr.eu-west-1.rds.amazonaws.com:3306/a2nvis6rc4x67mkm</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUsername</param-name>
    <param-value>qrnsppnw6fdss42v</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcPassword</param-name>
    <param-value>d6cpouf9fjc9nsqv</param-value>
  </context-param>
  <servlet>
    <servlet-name>SalleServlet</servlet-name>
    <servlet-class>com.mini.projet.controller.SalleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalleServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
</web-app>
